@model Common.Models.BorrowerDetails
@{
    ViewBag.Title = "Borrower";
}

<div id="Borrower">   
    <h3>@Model._firstname @Model._lastname</h3>
    <div id="borrowedBooks">
        <h4 style="float:left;">Borrowed Books</h4>   <h4 style="float:right;">Renew</h4>       
    </div>
    <div id="listbox">
        <ul>
           
        </ul>
    </div>
    <a href="Borrower">Back</a>
</div>

