@{
    ViewBag.Title = "Admin";
}

<div id="admin">
    <a onclick="history.back()"></a>
    <h4>Admin Section</h4>
    <div style="width: 30%; float: left;">
        <h5><b>Author administration</b></h5>
        <a href="~/Admin/AddAuthor">Add author</a>
        <a href="~/Admin/ListAuthors">Update/remove author</a>
    </div>
    <div style="width: 30%; margin-left: 5%; float: left;">
        <h5><b>Borrower administration</b></h5>
        <a href="~/Admin/AddBorrower">Add borrower</a>
        <a href="~/Admin/ListBorrowers">Update/remove borrower</a>
</div>
    <div style="width: 30%; margin-left: 5%; float: left;">
        <h5><b>Book administration</b></h5>
        <a href="~/Admin/AddBook">Add book</a>
        <a href="~/Admin/ListBooks">Update/remove book</a>
    </div>
</div>