@{
    ViewBag.Title = "Admin";
}

<div id="admin">
    <h4>Admin Section</h4>
    <div style="width: 30%; float: left;">
        <h5><b>Author administration</b></h5>
        <a href="AddAuthor">Add author</a>
        <a href="ListAuthors">Update/remove author</a>
    </div>
    <div style="width: 30%; margin-left: 5%; float: left;">
        <h5><b>Borrower administration</b></h5>
        <a href="AddBorrower">Add borrower</a>
        <a href="ListBorrowers">Update/remove borrower</a>
    </div>
    <div style="width: 30%; margin-left: 5%; float: left;">
        <h5><b>Book administration</b></h5>
        <a href="AddBook">Add book</a>
        <a href="ListBooks">Update/remove book</a>
    </div>
</div>