@model Common.Models.ConfirmationAdmin
@{
    Layout = "Confirmation";
}

<div id="confirmation">

    <h2>@Model._message</h2>
    <h2>@Model._title @Model._firstName  @Model._lastName</h2> 
        
    <a href="/Admin/Admin" style="margin: 0 0 0 15px" class="submlogin">Back</a>
</div>