@{
    ViewBag.Title = "List Authors";
}

<div id="admin">
    <a href="Admin">Back</a>
    <h4>Admin Section</h4>
    <h5><b>Authors</b></h5>
    <div id="listbox">
        <ul>
            <li>
                <p>Gustav Carlsson</p>
                <a href="#">Edit</a>
                <a href="#">Remove</a>
            </li>
            <li>
                <p>Johanna Carlsson</p>
                <a href="#">Edit</a>
                <a href="#">Remove</a>
            </li>
            <li>
                <p>Erik Carlsson</p>
                <a href="#">Edit</a>
                <a href="#">Remove</a>
            </li>
            <li>
                <a href="#">Edit</a>
                <a href="#">Remove</a>
                <p>Lena Carlsson</p>
            </li>
        </ul>
    </div>
</div>