@model Common.Models.Search
@{
    ViewBag.Title = "SearchResult";
}

<div id="form">
    @using (Html.BeginForm("SearchFunc", "Home"))
    {
        @Html.TextBoxFor(m => m._searchData._searchString, new { @class = "inp" })
        <input class="subm" type="submit" value="Search" />
    }
</div>


<div id="searchres">
    <p>Search result for: @Model._searchData._searchString </p>
    <ul>
        <li>
            asdas
        </li>
        <li>
            asdas
        </li>
        <li>
            asdas
        </li>
    </ul>
</div>